form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  h2 {
    margin-bottom: 20px;
  }
  label {
    margin: 10px 0;
  }
  input[type="radio"] {
    margin-right: 10px;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  button {
    padding: 15px 26px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
  }
  button:hover {
    background-color: #0056b3;
  }
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  form {
    width: 50%;
    margin-left: 25%;
    margin-top: 8%;
  }
  .options {
    display: grid;
  }

  .label{
    display: flex;
  }